# Copy this to .env.development and .env.production and edit values as needed
# Development: usually '/api' to use Vite proxy
# Production: your absolute API URL, e.g. 'https://api.example.com/api'
VITE_API_URL=/api
